@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: 2s;
    overflow-x: hidden;
}

body{
    background-image: url(../img/dev.png);
    background-repeat: no-repeat;
    background-size:200vh;
    background-attachment: fixed;
    background-blend-mode:overlay;
    background-color: #222124!important;
    color: #E1DEE3 !important;
    font-weight: 55 !important;
    font-style: normal;
    font-size: 20px !important;
    width: 100vw;
}
h2{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px !important;
}

nav{
    /* background-color: #667761; */
    padding: 2% 5% !important;
    position: fixed !important;
    width: 100%;
    top: 0;
    
}
.me{
    font-weight: 400 !important;
    font-size: 25px !important;
}
nav li {
    list-style: none ;
}

nav button{
    border: 1px solid #E1DEE3 !important;
    color: #E1DEE3 !important;
}
nav a{
    color: #E1DEE3 !important;
}
section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
.one{
    padding: 10vh 5%;
}

.one img{
    width: 100%;
}

.two{
    padding: 20% 5%;

}

.three{
    padding: 10% 5%;
}
.three h2, .three p {
    margin-bottom: 2%;
}
.technologies{
    margin-top: 5%;
    background-color: rgba(67, 61, 70, 0.461);
    padding: 2%;
    border-radius: 5px;
}
.icons{
    padding: 0 0.5px !important;
    width: 100%;
}
.four{
    padding: 20% 5%;
}
a{
    text-decoration: none !important;
    color:#A36D90 !important;
}
.five{
    padding: 10% 5%;
}
.five img{
    width: 80%;
}
.txt{
    color:#b35592 ;
}
.six{
    padding: 1% 5%;
    
}
.six img{
    width: 160vh !important;
}
.six h5, .six p{
    color: #222124 !important;
}

/* Carousel.css */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    height: 80vh;
    /* overflow: hidden; */
    border-radius: 5px;
    /* margin-top: 20%; */
  }
  .carousel-desc{
    background-color: #E1DEE3;
    color: #222124;
    padding: 0.5%;
    border-radius: 5px;
    margin-top: 0.5%;
  }
  .carousel-img{
    width: 100%;
    height: 66vh;
    background-color: #060109;
    /* margin-top: 5%; */
    overflow: hidden;
    border-radius: 5px;
  }
  .slide {
    display: none; /* Hide all slides by default */
    transition: opacity 0.5s ease-in-out;
    position: relative; /* Change to relative */
    width: 100%;
  }
  
  .slide.active {
    display: block;
    opacity: 1;
  }
  
  .image {
    object-fit:cover;
    
  }
  
  .left-arrow,
  .right-arrow, .carousel a {
    position: absolute;
    top: 50%;
   
    font-size: 30px;
    font-weight: 700;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #6c82e6 !important;
    z-index: 1;
  }

  .carousel a{
    top: 80% !important;
    right: 46%;
    color: #f3f0f5 !important;
    background-color: #320b5c;
    font-weight: 600;
    padding: 0 2%;
    border-radius: 5px;
  }
  
  .left-arrow {
    left: 10px;
    transform: translateY(-50%);
    background-color: #c7afd1;
    border-radius: 5px;
    padding-bottom: 0.5%;
  }
  
  .right-arrow {
    right: 10px;
    transform: translateY(-50%);
    background-color: #E1DEE3;
    border-radius: 5px;
    padding-bottom: 0.5%;
  }
  