@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: 2s;
    overflow-x: hidden;
}

body{
    background-image: url(../img/dev.png);
    background-repeat: no-repeat;
    background-size:190vh;
    background-attachment: fixed;
    background-blend-mode:overlay;
    background-color: #222124!important;
    color: #E1DEE3 !important;
    font-weight: 55 !important;
    font-style: normal;
    font-size: 20px !important;
    width: 100%;
}
h2{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px !important;
}

nav{
    /* background-color: #667761; */
    padding: 2% 5% !important;
    position: fixed !important;
    width: 100%;
    top: 0;
    
}
.me{
    font-weight: 400 !important;
    font-size: 25px !important;
}
nav li {
    list-style: none ;
}

nav button{
    border: 1px solid #E1DEE3 !important;
    color: #E1DEE3 !important;
}
nav a{
    color: #E1DEE3 !important;
}
section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
.one{
    padding: 7% 5%;
}

.one img{
    width: 100%;
}

.two{
    padding: 20% 5%;

}

.three{
    padding: 10% 5%;
}
.three h2, .three p {
    margin-bottom: 2%;
}
.technologies{
    margin-top: 5%;
    background-color: rgba(67, 61, 70, 0.461);
    padding: 2%;
    border-radius: 8px;
}
.icons{
    padding: 0 0.5px !important;
    width: 100%;
}
.four{
    padding: 20% 5%;
}
a{
    text-decoration: none !important;
    color:#A36D90 !important;
}
.five{
    padding: 10% 5%;
}
.five img{
    width: 80%;
}
.txt{
    color:#b35592 ;
}